{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "no-console": 0,
    "arrow-body-style": 0,
    "react/jsx-filename-extension": 0,
    "jsx-quotes": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-danger": 0,
    "react/prop-types": 0,
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to",
          "hrefLeft",
          "hrefRight"
        ],
        "aspects": [
          "noHref",
          "invalidHref",
          "preferButton"
        ]
      }
    ]
  }
}
